---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ruleta Grupo Induveca">
	<main>
		<div class="container">
			<!-- <svg xmlns="http://www.w3.org/2000/svg" class="svg-triangle"
				><path d="m10 50 80-40v80Z"></path></svg
			> -->
			<div class="commit">
				<div class="product product-0">JAMON CASERIO</div>
				<div class="product product-1">JAMON DE POLLO</div>
				<div class="product product-2">JAMON DE PAVO</div>
				<div class="product product-3">SALAMI DE PAVO</div>
				<div class="product product-4">SALAMI HEALTHY!</div>
				<div class="product product-5">SALACHICHON</div>
				<div class="product product-6">PASTRAMI</div>
				<div class="product product-7">CAMARON</div>
			</div>
			<div class="boton">
				<div class="jugar"><button>JUGAR</button></div>
				<div class="reset display-none">
					<button class="btnreset">RESETEAR</button>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	const buttonPlay = document.querySelector("button");
	const $middle = document.querySelector(".commit");
	const botonReset = document.querySelector(".reset");
	const botonJugar = document.querySelector(".jugar");
	const btnReset = document.querySelector(".btnreset");
	let timer: number;

	let productId: string = "";
	const productToSort = {
		0: { weight: 500_000 },
		1: { weight: 200_000 },
		2: { weight: 50_000 },
		3: { weight: 20_000 },
		4: { weight: 5_000 },
		5: { weight: 1_000 },
		6: { weight: 200 },
		7: { weight: 10 },
	};

	btnReset?.addEventListener("click", () => {
		$middle?.classList.add("rotate-reset");
		botonJugar?.classList.remove("display-none");
		botonReset?.classList.add("display-none");
		$middle?.classList.remove("animation-" + productId);
	});

	buttonPlay?.addEventListener("click", () => {
		let $productLabel = document.querySelector(".product-" + productId);
		$productLabel?.classList.remove("font-winner");
		let total_value: number = 0;

		clearTimeout(timer);

		for (const value of Object.values(productToSort)) {
			total_value += value.weight;
		}

		let numberOfSort: number = Math.ceil(
			Math.random() * Object.keys(productToSort).length * total_value + 1,
		);

		for (const [id, value] of Object.entries(productToSort)) {
			console.log(value.weight);
			console.log(numberOfSort);
			if (value.weight < 1001) {
				console.log(id);

				productId = id;
				break;
			}
		}
		$middle?.classList.remove("rotate-reset");
		$middle?.classList.add("animation-" + productId);
		botonJugar?.classList.add("display-none");
		botonReset?.classList.remove("display-none");

		timer = setTimeout(() => {
			$productLabel = document.querySelector(".product-" + productId);

			$productLabel?.classList.add("font-winner");
		}, 9800);
	});
</script>

<style>
	:root {
	}
	.container {
		display: flow-root;
		position: relative;
		/* border: 15px solid #fff; */
		border-radius: 50%;
		/* clip-path: circle(50% at 50% 50%); */
		width: var(--width-roullete);
		height: var(--width-roullete);
	}

	.container::before {
		content: "";
		position: absolute;
		width: var(--width-roullete);
		height: var(--width-roullete);
		top: 0;
		/* left: 0; */
		right: 1px;
		bottom: 0;
		/* transform: translate(1px, 1px); */
		border-radius: 50%;
		border: 30px solid transparent;
		background: linear-gradient(45deg, #dd5f88, #b4355e) border-box;
		-webkit-mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
		z-index: 99;
		pointer-events: none;
	}
	.container::after {
		content: "";
		position: absolute;
		width: var(--width-roullete);
		height: var(--width-roullete);
		top: 0;
		right: 1px;
		bottom: 0;
		border-radius: 50%;
		border: 10px solid #fff;
		mask-composite: exclude;
		z-index: 99;
		pointer-events: none;
	}

	.boton {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	button {
		border-radius: 50%;
		background-color: #f2c04f;
		/* padding-inline: 100px;
		padding-block: 10px;
		border-radius: 10px; */
		font-size: 32px;
		border: none;
		width: 200px;
		height: 200px;
		outline: 25px solid #fff;
		color: white;
		font-weight: bold;
		cursor: pointer;
		font-family: inherit;
	}

	@media screen, (max-width: 1250px) {
		button {
			font-size: 10px;
			width: 50px;
			height: 50px;
			outline: 5px solid #fff;
			font-family: inherit;
		}
	}
	button:hover {
		filter: brightness(0.9);
	}
	.product {
		display: flex;
		align-items: center;
		/* justify-content: center; */
		position: absolute;
		font-size: 24px;
		color: #fff;
		font-weight: bold;
		text-align: left;
		/* top: 50%; */
		left: 50%;
		transform: translate(-50%, -50%);
		width: 55%;
		height: 100%;
		padding-inline-start: calc(var(--width-roullete) / 5);
		clip-path: polygon(100% 27%, 0 50%, 100% 73%);
	}

	@media screen, (max-width: 1250px) {
		.product {
			font-size: 12px;
			padding-inline-start: calc(var(--width-roullete) / 6);
		}
	}

	.product-0 {
		transform-origin: center left;
		transform: rotate(0deg);
		background-color: #c23e38;
	}
	.product-1 {
		transform-origin: center left;
		transform: rotate(45deg);
		background-color: #f15a24;
	}
	.product-2 {
		transform-origin: center left;
		transform: rotate(90deg);
		background-color: #ec8f35;
	}
	.product-3 {
		transform-origin: center left;
		transform: rotate(135deg);
		background-color: #009245;
	}
	.product-4 {
		transform-origin: center left;
		transform: rotate(180deg);
		background-color: #0071bc;
	}
	.product-5 {
		transform-origin: center left;
		transform: rotate(225deg);
		background-color: #f2c04f;
	}
	.product-6 {
		transform-origin: center left;
		transform: rotate(270deg);
		background-color: #ed1e79;
	}
	.product-7 {
		transform-origin: center left;
		transform: rotate(315deg);
		background-color: #c3326c;
	}
	.display-none {
		display: none;
	}
	.middle {
		position: relative;
		top: 0%;
		left: 50%;
		background-color: red;
		width: 10px;
		height: 10px;
		animation-duration: 10s;
		animation-timing-function: ease, step-start,
			cubic-bezier(0.1, 0.7, 1, 0.1);
	}
	.commit {
		/* background-color: #fff; */
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: relative;
		clip-path: circle(50% at 50% 50%);
		animation-duration: 10s;
		animation-timing-function: ease, step-start,
			cubic-bezier(0.1, 0.7, 1, 0.1);
		/* outline: 800px solid #fff; */
		/* flex-direction: column; */
		/* gap: 400px; */
	}

	.svg-triangle {
		color: #b2345c;
		position: absolute;
		width: 25px;
		height: 25px;
		z-index: 999;
		top: 50%;
		left: 102%;
		transform: translateY(-50%);
	}
	.svg-triangle path {
		stroke-width: 20;
		stroke: #c23e38;
		fill: #f2c04f;
		width: 25x;
		height: 25px;
		stroke-linejoin: round;
		stroke-linecap: round;
	}
	/* .animation-5 {
		transform: rotate(0deg);
	} */
	.animation-0 {
		animation-name: rotation-roulette-0;
		transform: rotate(3240deg);
	}
	.animation-1 {
		animation-name: rotation-roulette-1;
		transform: rotate(3554deg);
	}
	.animation-2 {
		animation-name: rotation-roulette-2;
		transform: rotate(3509deg);
	}
	.animation-3 {
		animation-name: rotation-roulette-3;
		transform: rotate(3465deg);
	}
	.animation-4 {
		animation-name: rotation-roulette-4;
		transform: rotate(3420deg);
	}
	.animation-5 {
		animation-name: rotation-roulette-5;
		transform: rotate(3375deg);
	}
	.animation-6 {
		animation-name: rotation-roulette-6;
		transform: rotate(3329deg);
	}
	.animation-7 {
		animation-name: rotation-roulette-7;
		transform: rotate(3644deg);
	}

	.font-winner {
		color: #ce2c65;
	}

	@keyframes rotation-roulette-0 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3240deg);
		}
	}
	@keyframes rotation-roulette-1 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3554deg);
		}
	}
	@keyframes rotation-roulette-2 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3509deg);
		}
	}
	@keyframes rotation-roulette-3 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3465deg);
		}
	}
	@keyframes rotation-roulette-4 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3420deg);
		}
	}
	@keyframes rotation-roulette-5 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3375deg);
		}
	}
	@keyframes rotation-roulette-6 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3329deg);
		}
	}
	@keyframes rotation-roulette-7 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(3644deg);
		}
	}
</style>
