---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*,
	*:before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--width-roullete: 1000px;
	}

	@media (max-width: 500px) {
		:root {
			--width-roullete: 400px;
		}
	}
	@media (max-width: 400px) {
		:root {
			--width-roullete: 320px;
		}
	}
	.rubik-mono one-regular {
		font-family: "Rubik Mono One", monospace;
		font-weight: 400;
		font-style: normal;
	}

	html {
		background: hsla(340, 80%, 69%, 1);

		background: linear-gradient(
			270deg,
			hsl(336, 59%, 48%) 0%,
			hsl(297, 48%, 28%) 100%
		);

		background: -moz-linear-gradient(
			270deg,
			hsl(336, 59%, 48%) 0%,
			hsl(297, 48%, 28%) 100%
		);

		background: -webkit-linear-gradient(
			270deg,
			hsl(336, 59%, 48%) 0%,
			hsl(297, 48%, 28%) 100%
		);
	}
	code {
		font-family:
			"Sofia Sans",
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		height: 100vh;
		overflow: hidden;
		font-family: "Sofia Sans", monospace;
	}
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		overflow: hidden;
	}
</style>
